body *{
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calculator {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    border-radius: 10px;
    padding: 30px 15px;
    margin: 20px auto;
    border: solid 1px #bbb;
    background-color: #ebebeb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    border-top: solid 1px rgb(172, 172, 172);
}

.body > div{
    width: 48%;
}

.form-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.form-control input, .form-control select{
    height: 2.5em;
    width: 200px;
    border-radius: 3px;
    border: solid 1px #bbb;
    padding: 0 1em;
}

#input-section{
    display: flex;
    flex-direction: column;
}

input[type='button']{
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 5px;

    font-size: 1.2em;

    border:rgb(30, 143, 255) solid 2px;
    color: white;
    background-color: rgba(30, 143, 255, 0.753);

    cursor: pointer;    
    transition: all 0.2s;
}

input[type='button']:hover{
    border-radius: 0px;
}

#reset-button{
    border:rgb(15, 139, 143) solid 2px;
    color: white;
    background-color: rgba(15, 139, 143, 0.753);
}

#reset-button:hover {    
    background-color: rgb(15, 139, 143);
    border-color: #ebebeb;
    color: white;
}

#submit-button{
    border:dodgerblue solid 2px;
    color: white;
    background-color: rgba(30, 143, 255, 0.753);
}

#submit-button:hover {    
    background-color: rgb(30, 143, 255);
    border-color: #ebebeb;
    color: white;
}

#output-section .result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
}

#output-section .result p{
    height: 1.5em;
    line-height: 1.5em;
}